<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TUFF Gaming</title>
        <link rel="stylesheet" href="../css/contacto.css">
        <link rel="icon" type="image/png" href="images/icono_web.png">
    </head>
    <body>
        <header id="titulo_index"><h1>TUFF Gaming</h1></header>
        <section>

            <!-- Menú de navegación -->
            <div class="menu_inicio">
                <div class="menus">
                    <a href="../index.html" class="menu_inicio">Index</a>
                </div>
                <div class="menus">
                    <a href="productos.html" class="menu_inicio">Productos</a>
                </div>
                <div class="menus">
                    <a href="presupuesto.html" class="menu_inicio">Presupuesto</a>
                </div>
                <div class="menus">
                    <a style="color: orange" href="contacto.html" class="menu_inicio">Contacto</a>
                </div>
            </div>
            <!-- Menú de navegación -->

            <!-- Titulo del menu -->
            <div id="titulo_general_presupuesto">
                <h2>Contactanos</h2>
            </div>
            <!-- Titulo del menu -->

        <!-- Sección del contacto -->
        <article>
            <div id="articulo1">
                <div id="contacto_empresa_menu">
                    <!-- Formulario por email -->
                    <div id="informacion_contacto">
                        <h2>Contactanos por dudas</h2>
                        <p>Recuerda que puedes contactar a nuestra empresa si tienes dudas o necesitas información adicional.</p>
                        <img src="../images/correo_red_icon.png" id="correo_icon">
                        <div id="informacion_contacto_informacion">
                            <input type="text" id="nombre_texto_contacto" placeholder="Nombre" required><br>
                            <input type="email" id="email_texto_contacto" placeholder="Email" required><br>
                            <textarea id="area_texto_contacto" placeholder="Escriba sus dudas" required></textarea>
                            <button type="submit" id="submit_texto_contacto">Enviar</button>
                        </div>
                    </div>
                    <!-- Formulario por email -->

                    <!-- Ubicación de la empresa -->
                    <div id="mapa_empresa">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3133.5424440346696!2d-0.34808782396899307!3d39.52705237159645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604657e0c15a99%3A0x1450b37a3c21d8aa!2sC.%20Aragon%2C%2022%2C%2046133%20Meliana%2C%20Valencia!5e1!3m2!1ses-419!2ses!4v1756026261421!5m2!1ses-419!2ses"
                            width="600"
                            height="450" 
                            style="border: 2px solid rgb(0, 0, 0);"
                            allowfullscreen="" 
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    <!-- Ubicación de la empresa -->
                    </div>
                </div>
            </div>  
        </article>
        <!-- Sección del contacto -->
        </section>
        <footer>
            <!-- Nuestros Contactos -->
            <p>Contact us at: <a href="mailto:TUFF_Gaming@tuffgaming.com">TUFF_Gaming@tuffgaming.com</a></p>
            <div class="footer-redes">
                <img src="../images/facebook_icon.png" alt="facebook icon" id="facebook_icon"><a href="https://www.facebook.com" target="_blank">Facebook</a>
                <img src="../images/twitter_white_icon.png" alt="twitter icon" id="twitter_icon"><a href="https://www.twitter.com" target="_blank">Twitter</a>
                <img src="../images/instagram_icon.png" alt="instagram icon" id="instagram_icon"><a href="https://www.instagram.com" target="_blank">Instagram</a>
            </div>
            <!-- Nuestros Contactos -->
            <br>
            <!-- Sección de los derechos -->
            <nav class="footer-nav">
                <a href="/aviso-legal.html">Aviso legal</a> |
                <a href="/politica-privacidad.html">Política de privacidad</a> |
                <a href="/politica-devolución">Política de devolución</a>
                <p>&copy; 2025 TUFF Gaming. Todos los derechos reservados.</p>
            </nav>
            <!-- Sección de los derechos -->
        </footer>
    </body>
</html>