<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TUFF Gaming</title>
        <link rel="stylesheet" href="../css/presupuesto.css">
        <link rel="icon" type="image/png" href="images/icono_web.png">
    </head>
    <body>
        <header id="titulo_index"><h1>TUFF Gaming</h1></header>
        <section>
            <!-- Menú de navegación -->
            <div class="menu_inicio">
                <div class="menus">
                    <a href="../index.html" class="menu_inicio">Index</a>
                </div>
                <div class="menus">
                    <a href="productos.html" class="menu_inicio">Productos</a>
                </div>
                <div class="menus">
                    <a style="color: orange" href="presupuesto.html" class="menu_inicio">Presupuesto</a>
                </div>
                <div class="menus">
                    <a href="contacto.html" class="menu_inicio">Contacto</a>
                </div>
            </div>
            <!-- Menú de navegación -->

            <!-- Titulo del menu -->
            <div id="titulo_general_presupuesto">
                <h2>Tu Presupuesto</h2>
            </div>
            <!-- Titulo del menu-->

        <!-- Sección del presupuesto -->
        <article>
            <div id="articulo1">
                <!-- Video del fondo -->
                <div id="background_video">
                    <video src="../videos/background_video_presupuesto.mp4" autoplay loop muted></video>
                <!-- Video del fondo -->
                
                    <!-- Formulario del presupuesto -->
                    <div id="presupuesto">
                        <div class="presupuesto_informacion">
                            <h2>Nombre</h2>
                            <input type="text" name="nombre_presupuesto" id="nombre_presupuesto" placeholder="(requerido)" required>
                        </div>
                        <div class="presupuesto_informacion">
                            <h2>Email</h2><input type="email" name="email_presupuesto" id="email_presupuesto" placeholder="(requerido)" required>
                        </div>
                        <div class="presupuesto_informacion">
                            <h2>Teléfono</h2><input type="number" name="telefono_presupuesto" id="telefono_presupuesto" placeholder="(requerido)" required>
                        </div>
                        <div class="presupuesto_informacion">
                            <h2>Solicitar más información</h2><textarea name="solicitar_informacion_presupuesto" id="solicitar_informacion_presupuesto"></textarea>
                        </div>
                        <div class="presupuesto_informacion">
                            <p><input type="checkbox" name="politica_privacidad" id="politica-privacidad" value="required"><a href="/politica_de_privacidad" target="_blank">Política de privacidad</a></p>
                        </div>
                        <div class="presupuesto_informacion">
                            <button type="submit" id="enviar_boton" onclick="alert('Texto Ejemplo')">Enviar</button>
                        </div>
                    </div>
                    <!-- Formulario del presupuesto -->
                </div>
            </div>  
        </article>
        <!-- Sección del presupuesto -->
        </section>
        <footer>
            <!-- Nuestros Contactos -->
            <p>Contact us at: <a href="mailto:TUFF_Gaming@tuffgaming.com">TUFF_Gaming@tuffgaming.com</a></p>
            <div class="footer-redes">
                <img src="../images/facebook_icon.png" alt="facebook icon" id="facebook_icon"><a href="https://www.facebook.com" target="_blank">Facebook</a>
                <img src="../images/twitter_white_icon.png" alt="twitter icon" id="twitter_icon"><a href="https://www.twitter.com" target="_blank">Twitter</a>
                <img src="../images/instagram_icon.png" alt="instagram icon" id="instagram_icon"><a href="https://www.instagram.com" target="_blank">Instagram</a>
            </div>
            <!-- Nuestros Contactos -->
            <br>
            <!-- Sección de los derechos -->
            <nav class="footer-nav">
                <a href="/aviso-legal.html">Aviso legal</a> |
                <a href="/politica-privacidad.html">Política de privacidad</a> |
                <a href="/politica-devolución">Política de devolución</a>
                <p>&copy; 2025 TUFF Gaming. Todos los derechos reservados.</p>
            </nav>
            <!-- Sección de los derechos -->
        </footer>
    </body>












</html>