<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TUFF Gaming</title>
        <link rel="stylesheet" href="../css/productos.css">
        <link rel="icon" type="image/png" href="images/icono_web.png">
    </head>
    <body>
        <header id="titulo_index"><h1>TUFF Gaming</h1></header>
        <section>
            <!-- Menú de navegación -->
            <div class="menu_inicio">
                <div class="menus">
                    <a href="../index.html" class="menu_inicio">Index</a>
                </div>
                <div class="menus">
                    <a style="color: orange" href="productos.html" class="menu_inicio">Productos</a>
                </div>
                <div class="menus">
                    <a href="presupuesto.html" class="menu_inicio">Presupuesto</a>
                </div>
                <div class="menus">
                    <a href="contacto.html" class="menu_inicio">Contacto</a>
                </div>
            </div>
            <!-- Menú de navegación -->

            <!-- Titulo del menu -->
            <div id="titulo_general_productos">
                <h2>Productos Más Populares</h2>
            </div>
            <!-- Titulo del menu -->

        <!-- Sección de la galeria -->
        <article>
            <div class="articulo1">
                <div class="productos_populares">
                    <div class="producto_popular"><a href="paginaejemplo.html"><img src="../images/producto1_popular.jpg" alt="Producto Popular 1" class="imagenes_productos_populares"></a></div>
                    <div class="producto_popular"><a href="vpaginaejemplo.html"><img src="../images/producto2_popular.jpg" alt="Producto Popular 2" class="imagenes_productos_populares"></a></div>
                    <div class="producto_popular"><a href="paginaejemplo.html"><img src="../images/producto3_popular.jpg" alt="Producto Popular 3" class="imagenes_productos_populares"></a></div>
                    <div class="producto_popular"><a href="paginaejemplo.html"><img src="../images/producto1_popular.jpg" alt="Producto Popular 1" class="imagenes_productos_populares"></a></div>
                    <div class="producto_popular"><a href="paginaejemplo.html"><img src="../images/producto2_popular.jpg" alt="Producto Popular 2" class="imagenes_productos_populares"></a></div>
                    <div class="producto_popular"><a href="paginaejemplo.html"><img src="../images/producto3_popular.jpg" alt="Producto Popular 3" class="imagenes_productos_populares"></a></div>
                    <div class="producto_popular"><a href="paginaejemplo.html"><img src="../images/producto1_popular.jpg" alt="Producto Popular 1" class="imagenes_productos_populares"></a></div>
                    <div class="producto_popular"><a href="paginaejemplo.html"><img src="../images/producto2_popular.jpg" alt="Producto Popular 2" class="imagenes_productos_populares"></a></div>
                    <div class="producto_popular"><a href="paginaejemplo.html"><img src="../images/producto3_popular.jpg" alt="Producto Popular 3" class="imagenes_productos_populares"></a></div>
                    <div class="producto_popular"><a href="paginaejemplo.html"><img src="../images/producto1_popular.jpg" alt="Producto Popular 1" class="imagenes_productos_populares"></a></div>
                    <div class="producto_popular"><a href="paginaejemplo.html"><img src="../images/producto2_popular.jpg" alt="Producto Popular 2" class="imagenes_productos_populares"></a></div>
                    <div class="producto_popular"><a href="paginaejemplo.html"><img src="../images/producto3_popular.jpg" alt="Producto Popular 3" class="imagenes_productos_populares"></a></div>
                    <div class="producto_popular"><a href="paginaejemplo.html"><img src="../images/producto1_popular.jpg" alt="Producto Popular 1" class="imagenes_productos_populares"></a></div>
                    <div class="producto_popular"><a href="paginaejemplo.html"><img src="../images/producto2_popular.jpg" alt="Producto Popular 2" class="imagenes_productos_populares"></a></div>
                    <div class="producto_popular"><a href="paginaejemplo.html"><img src="../images/producto3_popular.jpg" alt="Producto Popular 3" class="imagenes_productos_populares"></a></div>
                    <div class="producto_popular"><a href="paginaejemplo.html"><img src="../images/producto1_popular.jpg" alt="Producto Popular 1" class="imagenes_productos_populares"></a></div>
                    <div class="producto_popular"><a href="paginaejemplo.html"><img src="../images/producto2_popular.jpg" alt="Producto Popular 2" class="imagenes_productos_populares"></a></div>
                    <div class="producto_popular"><a href="paginaejemplo.html"><img src="../images/producto3_popular.jpg" alt="Producto Popular 3" class="imagenes_productos_populares"></a></div>
                </div>
            </div>  
        </article>
        <!-- Sección de la galeria -->
    </section>
        
        <footer>
            <!-- Nuestros Contactos -->
            <p>Contact us at: <a href="mailto:TUFF_Gaming@tuffgaming.com">TUFF_Gaming@tuffgaming.com</a></p>
            <div class="footer-redes">
                <img src="../images/facebook_icon.png" alt="facebook icon" id="facebook_icon"><a href="https://www.facebook.com" target="_blank">Facebook</a>
                <img src="../images/twitter_white_icon.png" alt="twitter icon" id="twitter_icon"><a href="https://www.twitter.com" target="_blank">Twitter</a>
                <img src="../images/instagram_icon.png" alt="instagram icon" id="instagram_icon"><a href="https://www.instagram.com" target="_blank">Instagram</a>
            </div>
            <!-- Nuestros Contactos -->
            <br>
            <!-- Sección de los derechos -->
            <nav class="footer-nav">
                <a href="/aviso-legal.html">Aviso legal</a> |
                <a href="/politica-privacidad.html">Política de privacidad</a> |
                <a href="/politica-devolución">Política de devolución</a>
                <p>&copy; 2025 TUFF Gaming. Todos los derechos reservados.</p>
            </nav>
            <!-- Sección de los derechos -->
        </footer>
    </body>
</html>